#editProfileButton {
    float: right;
}

#headerDiv {
    border-bottom: 1px solid grey;
    overflow: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#profileDiv {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

p {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#profileText {
    padding-bottom: 10px;
    font-size: 26px;
}

#industryCollection {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.industryItem {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 50%;
    height: 50%;
}

.headerText {
    color: grey;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

#preferredIndustriesText {
    font-size: 18px;
}

#preferredIndustriesDiv {
    padding-left: 20px;
}

#personalInformationDiv {
    padding-left: 60px;
}

.contactInformationHeader {
    display: inline;
    padding-left: 20px;
    padding-bottom: 20px;
}
#contactInformationSectionHeader {
    padding: 20px;
    font-size: 24px;
}

.contactInformation {
    color:grey;
    float:right;
    padding-right: 50%;
}
.contactInformationDiv{
    display: flex;
    justify-content: space-between;
}


#profilePicture {
    border-radius: 70%;
    display: inline;
    max-width: 230px;
    max-height: 95px;
    margin-right: 50px;
    min-width: 40px;
    padding: 0;
    margin: 0;
}