body {
    background-color: rgba(255, 255, 255, 0.555);
}
h1 {
    color: white;
}
.is-active {
    background-color: '#d7d7d7';
}
.nav-links {
    float: left;
    margin-top: 50px;
}
  
.dashboard-nav {
    height: 1000px;
    width: 200px;
    float: left;
    padding: 20px;
    margin-right: 50px;
    background-color: rgb(22, 28, 102);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.content {
    height: 1000px;
    float: right;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

