.settings {
  background-color: rgb(212, 212, 212);
  padding: 15px;
}

.settings-header {
  padding: 15px;
  margin-bottom: 30px;
  border-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
}

h1 {
  color: rgb(145, 145, 145);
}

.is-active {
  font-weight: bold;
}

.form-content {
  background-color: rgb(250, 250, 250);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 30px;
  width:1620px;
}

.settings-content{
  width: 600px;
}

.profileImg {
  position: relative;
  margin: auto;
  margin-top: 10px;
  display: inline-flex;
}

.save {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

/* label {
  font-size: 10px;
  margin-top: 10px;
} */
/* 
.form-line {
  float: left;
  width: 270px;
} */

.MuiTextField-root{
  margin-top:15px !important;
  width:300px;
  margin:auto;
}

.settingsPageWrapper {
  background-color: rgb(212, 212, 212);
}